<footer id="footer" class="footer footer-2">
    <!-- Footer Info
	============================================= -->
    <div class="footer-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel-info">
              <div class="info-icon">
                <i class="icon icon-Truck"></i>
              </div>
              <div class="info-content">
                <h4>Free Shipping</h4>
                <p>
                  Lorem ipsum dolor siamet, adipiscing condimen tristique vel.
                </p>
              </div>
            </div>
          </div>
          <!-- .col-md-3 end -->

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel-info">
              <div class="info-icon">
                <i class="icon icon-Dollars"></i>
              </div>
              <div class="info-content">
                <h4>Fair Prices</h4>
                <p>
                  Lorem ipsum dolor siamet, adipiscing condimen tristique vel.
                </p>
              </div>
            </div>
          </div>
          <!-- .col-md-3 end -->

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel-info">
              <div class="info-icon">
                <i class="icon icon-Shield"></i>
              </div>
              <div class="info-content">
                <h4>Secure Shopping</h4>
                <p>
                  Lorem ipsum dolor siamet, adipiscing condimen tristique vel.
                </p>
              </div>
            </div>
          </div>
          <!-- .col-md-3 end -->

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel-info">
              <div class="info-icon">
                <i class="icon icon-Headset"></i>
              </div>
              <div class="info-content">
                <h4>Customer Support</h4>
                <p>
                  Lorem ipsum dolor siamet, adipiscing condimen tristique vel.
                </p>
              </div>
            </div>
          </div>
          <!-- .col-md-3 end -->
        </div>
      </div>
      <!-- .container end -->
    </div>
    <!-- .footer-info end -->

    <!-- Footer Widget
	============================================= -->
    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 footer-widget-about">
            <div class="footer-widget-title">
              <h5>About Us</h5>
            </div>
            <div class="footer-widget-content">
              <p>
                Lorem ipsum dolor sit amet, adipiscing condimentum tristique
                vel, eleifend sed turpis. Amet, consectetur adipising elit
                Integer.
              </p>
            </div>
          </div>
          <!-- .col-md-4 end -->

          <div class="col-xs-12 col-sm-6 col-md-2 footer-widget-link">
            <div class="footer-widget-title">
              <a href="/allporducts?main=Device&page=Device"><h5>Device</h5></a>
            </div>
            <div class="footer-widget-content">
              <ul class="list-unstyled">
                <li>
                  <a href="/allporducts?main=Device&page=Tool Kits">Tool Kits</a>
                </li>
                <li>
                  <a href="/allporducts?main=Device&page=Pod Kits">Pod Kits</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- .col-md-2 end -->

          <div class="col-xs-12 col-sm-6 col-md-2 footer-widget-link">
            <div class="footer-widget-title">
              <a href="/allporducts?main=Liquides&page=Liquides"><h5>Liquides</h5></a>
            </div>
            <div class="footer-widget-content">
              <ul class="list-unstyled">
                <li>
                  <a href="/allporducts?main=Liquides&page=Salt Base">Salt Base</a>
                </li>
                <li>
                  <a href="/allporducts?main=Liquides&page=Free Base">Free Base</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- .col-md-2 end -->

          <div class="col-xs-12 col-sm-6 col-md-2 footer-widget-link">
            <div class="footer-widget-title">
              <a href="/allporducts?main=Accessories&page=Accessories"><h5>Accessories</h5></a>
            </div>
            <div class="footer-widget-content">
              <ul class="list-unstyled">
                <li>
                  <a href="/allporducts?main=Accessories&page=Coils">Coils</a>
                </li>
                <li>
                  <a href="/allporducts?main=Accessories&page=Pods">Pods</a>
                </li>
                <li>
                  <a href="/allporducts?main=Accessories&page=Batteries">Batteries</a>
                </li>
                <li>
                  <a href="/allporducts?main=Accessories&page=Tanks | Mods">Tanks | Mods</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- .col-md-2 end -->

          <div class="col-xs-12 col-sm-6 col-md-2 footer-widget-link">
            <div class="footer-widget-title">
              <a href="/allporducts?main=Disposables&page=Disposables"><h5>Disposables</h5></a>
            </div>
          </div>
          <!-- .col-md-2 end -->
        </div>
      </div>
      <!-- .container end -->
    </div>
    <!-- .footer-widget end -->

    <!-- Footer Bar
	============================================= -->
    <div class="footer-bar" style="padding: 15px 0px;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="powered">
              <p>
                Liqnte &copy; All Rights Reserved.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="payment-methods text-right">
              <ul class="list-inline mb-0" style="margin-top: 0px;">
                <li>
                  <img src="/assets2/images/footer/visa.png" alt="payment" />
                </li>
                <li>
                  <img
                    src="/assets2/images/footer/mastercard.png"
                    alt="payment"
                  />
                </li>
                <li>
                  <img
                    src="/assets2/images/footer/american-express.png"
                    alt="payment"
                  />
                </li>
                <li>
                  <img src="/assets2/images/footer/delta.png" alt="payment" />
                </li>
                <li>
                  <img src="/assets2/images/footer/cirrus.png" alt="payment" />
                </li>
                <li>
                  <img src="/assets2/images/footer/paypal.png" alt="payment" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- .container end -->
    </div>
    <!-- .footer-copyright end -->
  </footer>