<scrip src="/assets2/js/inr_dcr.js"></scrip>
<script src="/assets2/js/jquery-2.2.4.min.js"></script>
<script src="/assets2/js/plugins.js"></script>
<script src="/assets2/js/functions.js"></script>
</body>
</html>